<html>
  <head>
    <meta charset="UTF-8">
    <title>Equation balancer</title>
    <script src="/static/jquery-2.2.1.min.js"></script>
    <script src="/static/molecular_formula_util.js"></script>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="/static/react_code.js" type="text/babel"></script>
  </head>
  <body>
      <div id="reactants"></div>
      <div id="example"></div>
      <button type="button" onclick="add_reactant()">Add Reactant</button>
      <button type="button" onclick="refresh()">Refresh</button>
      <button type="button" onclick="calculate()">Calculate</button>
      <button type="button" onclick="clear_masses()">Clear Masses</button>
  </body>
</html>
